doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Peru Open House
    link(href='https://fonts.googleapis.com/css?family=Concert+One|Muli', rel='stylesheet')
    link(rel="stylesheet" href="css/estilos.css")
    link(rel="stylesheet" href="css/menu.css")
  body
    include menu 