header.entero
    // Esta pagina sirve para sacar las fuentes https://fonts.google.com/
    .medio
        img(src="imagenes/logo.png")
        .contacto
            p Atendemos Pedidos a Nivel Nacional
            p C. 996 911 103
            p FIJO: (01) 388 2455 
.menu.entero
    .medio
        a(href="#") Inicio
        a(href="#") Empresa
        a(href="#") Clientes
        a(href="#") Modelos de Casas Prefabricadas
        a(href="#") Servicios en Drywall
        a(href="#") Servicios en Melamina
        a(href="#") Ubicanos
        a(href="#") Contacto 
    